@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600;700&display=swap");

.text-center {
  text-align: center;
}

.text-uppercase {
  text-transform: uppercase;
}

.font-weight-bold {
  font-weight: 700;
}

.font-weight-semi-bold {
  font-weight: 600;
}

.d-flex {
  display: flex;
}

.flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

.my-1 {
  margin-top: 1rem ;
  margin-bottom: 1rem ;
}

.mb-0 {
  margin-bottom: 0 ;
}

.mb-75 {
  margin-bottom: 0.75rem ;
}

.mb-1 {
  margin-bottom: 1rem ;
}

.mr-1 {
  margin-right: 1rem;
}

.mr-2 {
  margin-right: 2rem;
}

.mr-50 {
  margin-right: 0.5rem;
}

.ml-50 {
  margin-left: 0.5rem;
}

.mt-1 {
  margin-top: 1rem;
}

.mb-2 {
  margin-bottom: 2rem;
}

.m-auto {
  margin: auto ;
}

.section-gap {
  padding-top: 7rem;
  padding-bottom: 7rem;
}


.alternate-bg {
  background-color: rgb(192, 24, 24);
}

body {
  background-color: #151316;
  color:black;
  line-height: 1.2;
  font-family: "Montserrat", sans-serif;
}

body::-webkit-scrollbar {
  width: 8px;
}

a {
  text-decoration: none;
  color: #070606;
}


.container {
  padding-right: 15px;
  padding-left: 15px;
}

@media (min-width: 768px) {
  .container {
    max-width: 750px;
  }
}
@media (min-width: 992px) {
  .container {
    max-width: 970px;
  }
}
@media (min-width: 1200px) {
  .container {
    max-width: 1170px;
  }
}

@media (min-width: 992px) {
  .row {
    display: flex;
    
  }
  .row > div {
    padding-right: 0.5rem;
    padding-left: 0.5rem;
  }

  .col-7 {
    flex: 7;
  }

  .col-5 {
    flex: 5;
  }

  .col-6 {
    flex: 6;
  }

  
}

#edu{
  border-right: 1px black;
}

section .header {
  margin-bottom: 1.5rem;
}
section .header h2 {
  margin-bottom: 0.5rem;
}
section .header p {
  color: #365da0;
  font-size: 0.875rem;
}
section p {
  line-height: 1.5;
  color: #c7cdd8;
}

section.me .social-icons .social ion-icon {
  font-size: 1.25rem;
}
.date{
  text-align: left !important;
}
.honesty{
  color: white;
}

.table{
  text-align: left !important;
  margin-left: auto;
  margin-right: auto;
  margin-top: 2em;
  font-weight: 600;
}
td{
  padding: 5px;
}

.col-color{
  background-color: #f81a1a !important;
}
section.education .education-details {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
}
section.education .education-card {
  flex: 1;
  width: 800px;
  
  margin: 0.5rem 1rem;
  background-color:white;
  border-radius: 0.25rem;
  text-align: left;
  box-shadow: 0 6px 24px rgba(0, 0, 0, 0.04);
}
section.education .education-card h4 {
  text-transform: uppercase;
  font-weight: 600;
  color: #0d0d0e;
}
section.education .education-card h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}
.container h2 {
  text-transform: uppercase;
  font-weight: 600;
  color: white;
}

section.education .education-card h3 {
  margin: 1rem 0 0.5rem 0;
}
section.education .education-card p {
  font-size: 0.875rem;
}

section.contact-me form {
  margin: auto;
  max-width: 724px;
  text-align: left;
}